<ion-view title="Follow Us">
	<ion-content class="padding">
      <a class="button button-block button-positive icon-left ion-social-facebook" href="#" onclick="window.open('https://www.facebook.com/Qatar-City-Guide-1648883028710121', '_system', 'location=yes'); return false;">Facebook</a>
      <a class="button button-block button-positive icon-left ion-social-twitter" href="#" onclick="window.open('https://twitter.com/QCityGuide', '_system', 'location=yes'); return false;">Twitter</a>
      <a class="button button-block button-positive icon-left ion-social-googleplus" href="#" onclick="window.open('https://plus.google.com/b/118229492220005858300', '_system', 'location=yes'); return false;">Google Plus</a>
      <a class="button button-block button-positive icon-left ion-social-instagram" href="#" onclick="window.open('http://instagram.com/qatarcityguide', '_system', 'location=yes'); return false;">Instagram</a>
      <a class="button button-block button-positive icon-left ion-social-linkedin" href="#" onclick="window.open('https://www.linkedin.com/company/qatar-city-guide', '_system', 'location=yes'); return false;">LinkedIn</a>
      <a class="button button-block button-positive icon-left ion-social-pinterest" href="#" onclick="window.open('https://www.pinterest.com/QCityGuide/', '_system', 'location=yes'); return false;">Pinterest</a>
  </ion-content>
</ion-view>
