<!-- <ion-view view-title="About Us" >

    <ion-content scroll="false">
      <video autoplay loop poster="" id="bgvid" src="../img/QCITYGUIDE INTRO_1.mp4" type="video/mp4">
      </video>
    <div id="page-profile2" class="">

        <div class="box">
            <div class="info">
                <h2 class="name">Qatar City Guide</h2>
                <div class="position">Four and One,
                POBOX 21741,
                Doha,
                Qatar</div>
            </div>
        </div>
      </div>
    </ion-content>
</ion-view> -->

<ion-view view-title="Profile" class="category-list">
    <!-- <ion-header-bar align-title="center">
    </ion-header-bar> -->
    <ion-content id="page-profile" class="header-background" scroll="false">
      <div class="box">
          <div class="info">
              <h2 class="name">Qatar City Guide</h2>
              <div class="position">Four and One,
              POBOX 21741,
              Doha,
              Qatar</div>
          </div>
      </div>
    </ion-content>
</ion-view>
